@use '@/shared/styles/gameface' as *;

.main {
  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tier {
  margin-right: 6px;
  color: token(color-gold);
  font-size: 12px;
  font-weight: 700;
}

.tankName {
  font-size: 15px;
  font-weight: 700;

  @include ellipsis;
}

.mastery {
  margin-left: 6px;
}

.meta {
  margin-top: 4px;
  color: token(win-text-label);
  font-size: 12px;

  @include ellipsis;
}

.date {
  margin-top: 2px;
  color: token(win-text-label);
  font-size: 11px;

  @include ellipsis;
}
