.actions {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  margin-top: 10px;
}

.actionsCompact {
  flex-direction: column;
  align-items: flex-start;
}

.action {
  flex: 0 0 auto;
  margin-right: 8px;
}

.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resetIcon {
  margin-right: 6px;
}

.bar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 12px;
}
