.actions {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
}

.actionsCompact {
  flex-direction: column;
  align-items: flex-start;
  margin-left: -8px;
}

.action {
  flex: 0 0 auto;
  margin: 8px 0 0 8px;
}

.reset {
  margin-right: auto;
  margin-left: 0;
}

.resetLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resetIcon {
  margin-right: 6px;
}
