@use '@/shared/styles/gameface' as *;

.marks {
  display: flex;
  width: 110px;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
}

.version {
  padding: 2px 6px;
  border: 1px solid token(color-warning);
  border-radius: token(radius-sm);
  margin-left: 6px;
  color: token(color-warning);
  font-size: 10px;
  font-weight: 700;
}

.star {
  margin-left: 6px;
  color: token(color-gold);
}
