@use '@/shared/styles/gameface' as *;

.row {
  display: flex;
  flex-direction: column;
}

.detail {
  color: token(hud-muted);

  @include hud-type(caption);
  @include ellipsis;
}

.indented {
  margin-left: 20px;
}
