.strip {
  display: flex;
  height: 12px;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.mark {
  width: 14px;
  height: 5px;
  flex-shrink: 0;
  margin-right: 2px;
}
