@use '@/shared/styles/mixins' as *;

.list {
  @include stack(var(--space-4));
  @include list-reset;

  max-height: 22.5rem;
  overflow-y: auto;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: var(--space-3);
}
