@use '../../../../../shared/styles/gameface' as *;

.tile {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
