@use '@/shared/styles/gameface' as *;

.list {
  overflow: hidden;
  border: 1px solid token(color-border);
  border-radius: token(radius-md);
  background-color: token(color-bg);
}

.canvas {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}
