@use '@/shared/styles/gameface' as *;

.zoom {
  display: flex;
  height: 32px;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  padding: 0 2px;
  margin-right: 8px;

  @include well;
}

.value {
  width: 40px;
  color: token(color-text-muted);
  font-size: 11px;
  text-align: center;
}
