@use '@/shared/styles/gameface' as *;

.table {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  height: 20px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  font-size: 12px;
}

.tableHead {
  color: token(color-text-muted);
  font-size: 11px;
}

.cellDate {
  width: 110px;
  color: token(color-text-muted);
}

.cell {
  width: 80px;
  text-align: right;
}

.value {
  color: token(color-text);
}
