@use '@/shared/styles/gameface' as *;

.switch {
  display: flex;
  height: 36px;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  padding-left: 16px;
  border-left: 1px solid token(win-divider);
}

.switchLabel {
  width: 34px;
  margin-right: 8px;
  color: token(color-text-muted);
  font-size: 11px;
  text-align: right;

  @include caps(0.5px);
}
