@use '@/shared/styles/gameface' as *;

.main {
  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  flex-direction: column;
  margin-right: 12px;
}

.titleLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: 700;

  @include ellipsis;
}
