@use '@/shared/styles/mixins' as *;

.root {
  @include page;
}

.layout {
  display: grid;
  align-items: start;
  gap: var(--space-6);
  grid-template-columns: 220px minmax(0, 1fr);

  @include below(2xl) {
    gap: var(--space-4);
    grid-template-columns: minmax(0, 1fr);
  }
}
