.root {
  display: grid;
  min-height: 100dvh;
  align-content: center;
  padding: var(--space-6);
  gap: var(--space-8);
  justify-items: center;
}

.attribution {
  max-width: 64rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-2);
}
