@use '@/shared/styles/mixins' as *;

.version.version {
  max-width: 100%;
  height: auto;
  min-height: 20px;
  font-family: var(--font-mono);
  letter-spacing: 0;
  line-height: 1.3;
  padding-block: 2px;
  text-transform: none;
  white-space: normal;
}
