@use '@/shared/styles/gameface' as *;
@use '../../styles/tones' as *;

.bar {
  position: absolute;
  top: 20px;
  right: 24px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  display: flex;
  width: 380px;
  height: 50px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0 16px 0 6px;
  pointer-events: auto;

  @include panel;
}

.titleText {
  margin-left: 8px;
  color: token(color-text);
  font-size: 17px;

  @include caps(2px);
}

.tabs {
  display: flex;
  flex-direction: row;
  pointer-events: auto;
}

.battle {
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: auto;
}
