@use '@/shared/styles/gameface' as *;

.delta {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;

  @include ease(color);
}

.triangle {
  display: flex;
  width: 6px;
  height: 6px;
  margin-right: 3px;
}
