@use '../../../styles/gameface' as *;

.mark {
  display: flex;
  height: 9px;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  padding: 0 2px;
}

.bar {
  width: 2px;
  height: 9px;
  margin-right: 2px;
  transform: skewX(-20deg);

  @include ease(background-color);
}

.lit {
  background-color: token(hud-index);
}

.off {
  background-color: token(hud-bar-track);
}

.dim {
  background-color: token(hud-dim);
}
