@use '@/shared/styles/mixins' as *;

.root {
  @include icon-button(2rem);

  flex-shrink: 0;
  color: var(--color-text-dim);
  vertical-align: middle;

  :global(svg) {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
