@use '@/shared/styles/gameface' as *;

.plate {
  width: 270px;
}

.wide {
  width: 330px;
}

.totals {
  display: flex;
  height: 18px;
  flex-direction: row;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.divided {
  padding-top: 2px;
  border-top: 1px solid token(hud-divider);
  margin-top: 2px;
}
