@use '@/shared/styles/gameface' as *;

.drum {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5px;
}

.refill {
  margin-right: 5px;
  color: token(hud-index);

  @include hud-type(body);
}

.cell {
  margin-left: 2px;
  background-color: token(hud-bar-track);
}

.cell:first-child {
  margin-left: 0;
}

.cellLoaded {
  background-color: token(hud-text);
}

.cellRefill {
  background-color: token(hud-index);
  opacity: 0.6;
}
