@use '@/shared/styles/gameface' as *;

.radial {
  position: relative;
  display: flex;
  flex: 0 0 auto;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.content {
  position: absolute;
  display: flex;
}

.svg {
  @include svg-canvas;
}
