@use '@/shared/styles/gameface' as *;

.anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include hud-text;
}

.sign {
  margin-right: 1px;
  color: token(hud-muted);

  @include hud-type(caption);
}

.value {
  color: token(hud-text);

  @include hud-type(body);
}
