@use '@/shared/styles/gameface' as *;

.side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mirrored {
  align-items: flex-end;
}

.top {
  display: flex;
  height: 26px;
  flex-direction: row;
  align-items: center;
}

.hp {
  min-width: 56px;
  justify-content: flex-start;
  margin-left: 8px;

  @include hud-type(value);
}

.hpMirrored {
  justify-content: flex-end;
  margin-right: 8px;
  margin-left: 0;
}
