@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-4));
}

.root > .filter {
  max-width: 100%;
  align-self: flex-start;
  overflow-x: auto;

  @include below(sm) {
    display: none;
  }
}

.filterSelect {
  @include from(sm) {
    display: none;
  }
}
