@use '@/shared/styles/gameface' as *;

.body {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 12px;
  border-top: 1px solid token(win-divider);
}

.fields {
  display: flex;
  flex-direction: column;

  @include well;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 8px;
  border-top: 1px solid token(win-divider);
  margin-top: 12px;
}

.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resetIcon {
  margin-right: 6px;
}
