@use '@/shared/styles/mixins' as *;

.root {
  display: inline-flex;
  min-width: 0;
  align-items: center;
  gap: var(--space-2);
}

.image {
  margin-right: var(--space-1);

  @include below(md) {
    .root[data-image-hide-below='md'] & {
      display: none;
    }
  }
}

.class {
  flex-shrink: 0;
  color: var(--color-steel);

  .root[data-premium='true'] & {
    color: var(--color-premium);
  }
}

.tier {
  min-width: 2.2ch;
  font-size: var(--text-xs);
}

.name {
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;

  .root[data-premium='true'] & {
    color: var(--color-premium);
  }
}

.nation {
  display: inline-flex;
  flex-shrink: 0;
}

.lg {
  gap: var(--space-3);

  .tier {
    font-size: var(--text-md);
  }

  .name {
    @include heading(var(--text-lg));
  }
}
